---
import HeroSection from "../components/hero-section.astro";
import SideProjectsGrid from "../components/side-projects-grid.astro";
import Writings from "../components/writings.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="Gagandeep">
  <div class="grid grid-cols-1 auto-rows-max gap-28">
    <HeroSection />
    <SideProjectsGrid count={3} />
    <Writings />
  </div>
</Layout>
